<h1>
  {{title}}
</h1>
<h2>
  {{contador}}
</h2>

<button (click)="aumentar()">
  aumentar
</button>

<button (click)="disminuir()">
  disminuir
</button>

<button (click)="multiplicar()">
  multiplicar
</button>

<button (click)="dividir()">
  dividir
</button>

<button (click)="resetear()">
  resetear
</button>

<br>
<br>
  <span>
    ¿Es mayor a 10?
    {{contador > 10}}
  </span>

  <br>
  <span>
    ¿Es menor a 20?
    {{contador < 20}}
  </span>

  <br>
  <span>
    ¿Es mayor o igual a 5?
    {{contador >= 5}}
  </span>

  <br>
  <span>
    ¿Es menor o igual a 4?
    {{contador <= 4}}
  </span>

  <br>
  <span>
    ¿Es igual a 6?
    {{contador === 6}}
  </span>

  <br>
  <span>
    ¿Es diferente a 3?
    {{contador !== 3}}
  </span>

  <br>
  <span>
    ¿Es modulo de 2?
    {{esPar(contador)}}  
  </span>

  <br>
  <span>
    ¿Es impar y es igual 5?
    {{!esPar(contador) && contador === 5}} 
  </span>

  <br>
  <span>
    ¿Es impar o es igual 3?
    {{!esPar(contador) && contador || 3}} 
  </span>

  <br>
  <span>
    ¿Grados farenheit?
    {{(contador*(9/5)+32)}} 
  </span>

  <br>
  <span>
    {{(estudiantes)}} 
  </span>

  <br>
  <span>
    {{(estudiantes[0])}} 
  </span>

  <br>
  <span>
    {{(estudiantes.length)}} 
  </span>

  <br>
  <span>
    {{(estudiantes[estudiantes.length -1])}} 
  </span>

  <br>
  <span>
    {{estudiantes.sort()}} 
  </span>
